.locationCard {
    min-width: 340px;
    border: 1px solid rgba(0, 17, 34, 0.1);
    padding: 15px 25px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.locationCard h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #001122;
    opacity: 80%;
    margin:0;
}

.locationCard:hover {
    background: rgb(246, 246, 246);
}